.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.select2-container .select2-search--inline .select2-search__field {
    min-height: calc(1em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0;
}

.note-editor .note-editing-area .note-editable {
    height: 470px !important;
}